div.navbar.navbar-inverse{
	background-color: #ccffcc;
}

.navbar-brand{
	background: url(../logo_720.png) no-repeat top left;
    background-size: contain;
    width: 140px;
    margin: 12px;
    text-indent: -9000px;
}

.user, .activity{
	margin: 0 auto;
	text-align: center;
}

.user{
	max-width: 500px;
}


.well{
    width: 30%;
    float: left;
    margin: 10px;
    text-align: center;
}

