<template name = "Activities1">


    <div class="well">
    <p>Get a Beer</p>
    </div>
    <div class="well">
    <p>Grab a Coffee</p>
    </div>
    <div class="well">
    <p>Catching a Concert</p>
    </div>
    <div class="well">
    <p>Cylcing</p>
    </div>
    <div class="well">
    <p>Go Out Dancing</p>
    </div>
    <div class="well">
    <p>Extreme Sports</p>
    </div>
    <div class="well">
    <p>Take a Fitness Class</p>
    </div>
    <div class="well">
    <p>Happy Hour</p>
    </div>
    <div class="well">
    <p>Take a Hike</p>
    </div>
    <div class="well">
    <p>Bug Collection Expedition</p>
    </div>
    <div class="well">
    <p>Play Date</p>
    </div>
    <div class="well">
    <p>Go for a Run</p>
    </div>
    <div class="well">
    <p>Soccer Time</p>
    </div>
    <div class="well">
    <p>See a Show</p>
    </div>
    <div class="well">
    <p>Yoga</p>
    </div>

</template>