<template name = "Activities1">


    <div class="well" id="beer">
    <p>Get a Beer</p>
    </div>
    <div class="well" id="coffee">
    <p>Grab a Coffee</p>
    </div>
    <div class="well" id="concert">
    <p>Catching a Concert</p>
    </div>
    <div class="well" id="cycle">
    <p>Cylcing</p>
    </div>
    <div class="well" id="dance">
    <p>Go Out Dancing</p>
    </div>
    <div class="well" id="extremesports">
    <p>Extreme Sports</p>
    </div>
    <div class="well" id="fitness">
    <p>Take a Fitness Class</p>
    </div>
    <div class="well" id="happyhour">
    <p>Happy Hour</p>
    </div>
    <div class="well" id="hiking">
    <p>Take a Hike</p>
    </div>
    <div class="well" id="outdoors">
    <p>Bug Collection Expedition</p>
    </div>
    <div class="well" id="playdate">
    <p>Play Date</p>
    </div>
    <div class="well" id="running">
    <p>Go for a Run</p>
    </div>
    <div class="well" id="soccer">
    <p>Soccer Time</p>
    </div>
    <div class="well" id="theatre">
    <p>See a Show</p>
    </div>
    <div class="well" id="yoga">
    <p>Yoga</p>
    </div>

<div class='row'>
    <div class="checkbox">
        <h4>Who would you like to meet?</h4>
        <label>
            <input type="checkbox"> Male
        </label>
        <label>
            <input type="checkbox"> Female
        </label>
    </div>

    <div class="checkbox">
        <h4>Need to have friends in common?</h4>
        <label>
            <input type="checkbox"> Yes
        </label>
        <label>
            <input type="checkbox"> No
        </label>
    </div>

</div>
</template>