<template name = "Activities1">

<div class="container">

    <h1>Select Activities</h1>

    <div class="row">
        <div class="col-sm-4 col-xs-6" id='beer2'>
            <div class="well activity" id="beer">
            <p>Get a Beer</p>
            </div>
        </div>
        <div class="col-sm-4 col-xs-6">
            <div class="well activity" id="coffee">
            <p>Grab a Coffee</p>
            </div>
        </div>
        <div class="col-sm-4 col-xs-6">
            <div class="well activity" id="concert">
            <p>Catching a Concert</p>
            </div>
        </div>
        <div class="col-sm-4 col-xs-6">
            <div class="well activity" id="cycle">
            <p>Cycling</p>
            </div>
        </div>
        <div class="col-sm-4 col-xs-6">
            <div class="well activity" id="dance">
            <p>Go Out Dancing</p>
            </div>
        </div>
        <div class="col-sm-4 col-xs-6">
            <div class="well activity" id="extremesports">
            <span>Extreme Sports</span>
            </div>
        </div>
        <div class="col-sm-4 col-xs-6">
            <div class="well activity" id="fitness">
            <p>Take a Fitness Class</p>
            </div>
        </div>
        <div class="col-sm-4 col-xs-6">
            <div class="well activity" id="happyhour">
            <p>Happy Hour</p>
            </div>
        </div>
        <div class="col-sm-4 col-xs-6">
            <div class="well activity" id="hiking">
            <p>Take a Hike</p>
            </div>
        </div>
        <div class="col-sm-4 col-xs-6">
            <div class="well activity" id="outdoors">
            <p>Bug Collection Expedition</p>
            </div>
        </div>  
        <div class="col-sm-4 col-xs-6">
            <div class="well activity" id="playdate">
            <p>Play Date</p>
            </div>
        </div>  
        <div class="col-sm-4 col-xs-6">
            <div class="well activity" id="running">
            <p>Go for a Run</p>
            </div>
        </div> 
        <div class="col-sm-4 col-xs-6">
            <div class="well activity" id="soccer">
            <p>Soccer Time</p>
            </div>
        </div>
        <div class="col-sm-4 col-xs-6">
            <div class="well activity" id="theatre">
            <p>See a Show</p>
            </div>
        </div>
        <div class="col-sm-4 col-xs-6">
            <div class="well activity" id="yoga">
            <p>Yoga</p>
            </div>
        </div> 

    </div>

    <div class='row'>
        <div class="checkbox">
            <h4>Who would you like to meet?</h4>
            <label>
                <input type="checkbox"> Male
            </label>
            <label>
                <input type="checkbox"> Female
            </label>
        </div>

        <div class="checkbox">
            <h4>Need to have friends in common?</h4>
            <label>
                <input type="checkbox"> Yes
            </label>
            <label>
                <input type="checkbox"> No
            </label>
        </div>

        <div id="response">
            <a href="{{pathFor 'swipe3'}}" class="btn btn-success btn-raised" data-content="Displaying Matches!" data-toggle="snackbar" data-timeout="0" >Go!</a>
        </div>

    </div>

</div>
      
<script type="text/javascript">
    $(".well").on("click", function() {
    $(this).toggleClass('wellSelected');
});
</script>

</template>
