<template name='chat2'>
    <style>
    .well{
        margin: 0 auto;
        text-align: center;
        color: #000000;
        text-shadow: 0px 0px #333333;
    }
    </style>
    <div class='container'>
        {{> messages}}
        {{> newMessage}}
    </div>
    {{> materializeRipples}}

</template>


<template name='messageGroup'>
	<div class="list-group-item col-xs-4">
        <div class="row-picture">
            <img class="circle" src="http://lorempixel.com/56/56/people/1" alt="icon">
        </div>
        <div class="row-content">
        	<div class='well'>
			    {{> message}}
			    {{> message}}
			    {{> message}}
			</div>
        </div>
    </div>

</template>


<template name='message'>
	<div class="list-group-item">
        <div class="row-picture">
            <img class="circle" src='{{img}}' alt="icon">
        </div>
        <div class="row-content">
        	<div class='well well-sm'>
			    {{message}}
			</div>
        </div>
    </div>




</template>

<template name ='messages'>
	<div class="list-group">

	{{#each messages}}
		{{> message}}
	{{/each}}

	</div>
</template>


<template name='newMessage'> 
    <div class="list-group"> 
    	<div class='row'> 
    		<div class='col-lg-4'> 
            	<input type='text' class="form-control" id="newMessage" placeholder="Say Hi">
       			<div class="icon-preview"><button class='btn btn-primary' id='sendMessage'><i class="mdi-content-send"></i><span>Send</span></button></div> 
       		</div> 
   		</div> 
    </div> 
</template> 