<template name="login">

	<ul class="nav navbar-nav navbar-right">
        {{#if currentUser}}

        <li>
	        <div class="list-group">
	        	<div class="list-group-item">
	        		<div class="row-picture">
	    				<img class='circle' src="{{img}}">
					</div>
					<div class='row-content'>
						<a href="{{pathFor 'profile'}}"><br>{{currentUser.services.facebook.name}}</a>
					</div>
				</div>
			
			</div>
		</li>
    	<li>
    		<button id="logout" class="btn btn-default">Logout</button>
		</li>

        {{/if}}

    </ul>


        <!--  TODO: add links to menu: activities, search for people, chat  -->
    {{> materializeRipples}}
</template>


