<template name="login">

	<ul class="nav navbar-nav navbar-right">
        {{#if currentUser}}

        <li><a href="{{pathFor 'profile'}}">{{currentUser.services.facebook.name}} -
    {{currentUser.services.facebook.gender}}</a></li>
    	<li><button id="logout" class="btn btn-default">Logout</button></li>

    	{{else}}
        <li>
            <button id="facebook-login" class="btn btn-default"> Login with Facebook</button>

        </li>
           {{/if}}

    </ul>


        <!--  TODO: add links to menu: activities, search for people, chat  -->
    {{> materializeRipples}}
</template>
