<template name='messages'>
   
        <!--Messages Box-->
        <div class="panel panel-default">
        <label for="chatbox" class="col-lg-2 control-label"></label>
            <div class="panel-body">
            chat messages here
        </div>
        </div>


        <!-- END Messages -->
 
    <script>
        $(document).ready(function() {
                // This command is used to initialize some elements and make them work properly
            $.material.init();
        });
    </script>
</template>