<template name='preferences'>
    <div class='container'>
      <div class='jumbotron'>
        <!--START SIGNUP FORM v0.1-->
        <div id='signupForm' class="form-horizontal">
            <fieldset>

				<div class="col-sm-6">
				    <div class="slider shor"></div>
				    <div class="slider shor slider-success"></div>
				    <div class="slider shor slider-material-pink"></div>
				</div>
				<div class="col-sm-6" style="height: 150px">
				    <div class="slider svert"></div>
				    <div class="slider svert slider-success"></div>
				    <div class="slider svert slider-material-pink"></div>
				</div>

			</fieldset>
        </div> <!-- END signup form -->
      </div> <!-- END jumbotron -->
    </div> <!-- END container -->
    {{> materializeRipples}}
</template>
