<template name='signupPage'>

	<div class='container'>
      <div class='jumbotron'>
		<h2>Insert Friend Finder Logo Here</h2>
		
		<p class="text-muted">Download our App on Android/iOS.
			<div class="icon-preview"><i class="mdi-action-android"></i><span></span></div>
			<div class="icon-preview"><i class="mdi-hardware-phone-iphone"></i><span></span></div>
		</p>

		<p class="text-primary">OR</p>
       	<button id="facebook-login" class="btn btn-primary"> Login now with Facebook</button>


      </div> <!-- END jumbotron -->
    </div> <!-- END container -->

    {{> materializeRipples}}
</template>
