<template name = "swipe5">
    <div class='container'>
        
            <div class="user">
                <h1 class='activity'>Happy Hour</h1>
                <br/>      
                <div class="row">
                    <div class="col-xs-6">
                        <img src="/ProfilePics/swipe5.jpg">
                    </div>

                    <div id="description" class="col-xs-6">
                        <h3>Karen, 26, 14 miles away</h3>
                        <p>I can do a perfect cartwheel and my favorite color is purple!</p>
                    </div>
                </div>

                <h2>Friends in Common</h2>
                <div></div>

                <h2>Full Profile</h2>
                <div>profile goes here</div>

                <h2>Interests</h2>
                <div>Beer, Swimming, Dancing</div>

                    <div id="response">
                        <a href="javascript:void(0)" class="btn btn-success btn-raised">I Think We Click</a>
                        <a href="javascript:void(0)" class="btn btn-danger btn-raised">Nope</a>
                    </div>

            </div>

                
                

            
    </div>

    <script>
    $("#swipe").dragend();


    </script>


   <!-- <script> $("#swipe").swipe({
  swipe:function(event, direction, distance, duration, fingerCount) {
    $(this).text("You swiped " + direction );
  }
});

    $("#my-link").on("click", function() {
       $("#container").dragend({
        scrollToPage: 2
      });
    });

    </script>
    -->

</template>