<template name = "swipe1">
    <div class='container'>
        
            <div class="user">

                <h1 class='activity'><b>Possible Match For Extreme Sports</b></h1>

                <br/>      
                <div class="row">
                    <div class="col-sm-6">
                        <img src="/ProfilePics/swipe1.jpg">
                    </div>

                    <div id="description" class="col-sm-6">
                        <h3>Leila, 23, 15 miles away</h3>
                        <p>I love adventure and living life on the wild side!</p>
                    </div>
                </div>

                <h2>Friends in Common</h2>
                <div>
                    <img class="mutfriend" src="/MutualFriends/mutual1.jpg">
                    <img class="mutfriend" src="/MutualFriends/mutual2.jpg">
                </div>

                <h2>Full Profile</h2>
                <div>I am a classically trained ballerina. I know four different languages. I am a virgo, and I love to paint!</div>

                <h2>Interests</h2>
                <div>Dancing, Hiking, Yoga</div>

                    <div id="response">
                        <a id ='match' href="{{pathFor 'chat2'}}" class="btn btn-success btn-raised " data-content="We've got a match!" data-toggle="snackbar" data-timeout="0">I Think We Click</a>
                        <a href="javascript:void(0)" class="btn btn-danger btn-raised">Nope</a>
                    </div>

            </div>

                
                

            
    </div>


</template>