<template name = "swipe2">
    <div class='container'>
        
            <div class="user">
                <h1 class='activity'>Coffee</h1>
                <br/>      
                <div class="row">
                    <div class="col-sm-6">
                        <img src="/ProfilePics/swipe2.jpg">
                    </div>

                    <div id="description" class="col-sm-6">
                        <h3>Amy, 24, 10 miles away</h3>
                        <p>I love photography and I have three ferrets.</p>
                    </div>
                </div>

                <h2>Friends in Common</h2>
                <div>profile pics go here</div>

                <h2>Full Profile</h2>
                <div>My favorite TV show is Adventure Time. During the day, I am a preclinical scientist at Cincinnati Children's Hospital working on developing treatments for Autism Spectrum Disorder, but at night I am an all star coder. I am a part of the Cincinnati chapter of Girl Develop It, and I love to make new friends!</div>

                <h2>Interests</h2>
                <div>Dancing, Cycling, Yoga</div>

                    <div id="response">
                        <a href="javascript:void(0)" class="btn btn-success btn-raised">I Think We Click</a>
                        <a href="javascript:void(0)" class="btn btn-danger btn-raised">Nope</a>
                    </div>

            </div>

                
                

            
    </div>

</template>